ultralytics
PyQt6
Pillow  # for image handling
matplotlib  # for plotting
pandas  # for data analysis
requests  # for downloading assets
opencv-python  # for image processing
torch  # for model inference
